<section id="career-image">
			<div class="company-image">
				
				
				<div class="company-text">
					<h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h3>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia tenetur iste porro laborum nam velit cum ea placeat perspiciatis eaque, aliquam facilis quo odio aliquid! Est possimus numquam, quaerat inventore.
					</p>
				</div>

				<div class="company-logo">
					<%= image_tag('images/nestle-logo-150-EN.png', alt: "Nestle" ) %>
				</div>
			</div><!--
			
			--><div class="worker-login">
			
				<h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h3>
			
				<% if !social_logged_in? %>
				<div class="worker-social">
					<%= link_to 'auth/facebook', class: "btn btn-block btn-social btn-lg btn-facebook" do %>
					<i class="fa fa-facebook-official"></i>Log in with Facebook
					<% end %>
				</div>	
				<% end %>
				<div class="worker-social">
					<%= link_to 'auth/twitter', class:"btn btn-block btn-social btn-lg btn-twitter" do %>
					<i class="fa fa-twitter"></i>Log in with Twitter
					<% end %>
				</div>
				
			</div>
<!--
					<div class="col-md-6">
						<form action="" class="form-inline">
							<div class="form-group">
								<label class="sr-only">Name</label>
								<input type="text" class="form-control form-control-lg" placeholder="Jane Doe">
							</div>
							<div class="form-group">
								<label class="sr-only">Email</label>
								<input type="text" class="form-control form-control-lg" placeholder="jane.doe@example.com">
							</div>
							<button type="submit" class="btn btn-success btn-lg">okay, go!</button>
						</form>
					</div>
-->
</section>
