

	
		<section id="career-image">
			<div class="company-image">
				
				
				<div class="company-text">
					<h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h3>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia tenetur iste porro laborum nam velit cum ea placeat perspiciatis eaque, aliquam facilis quo odio aliquid! Est possimus numquam, quaerat inventore.
					</p>
				</div>

				<div class="company-logo">
					<img src="assets/images/nestle-logo-150-EN.png" alt="Nestle">
				</div>
			</div>
			

					</div>
					
					<div id="admin-logout">   


									<h2>Are you sure you want to logout?</h2>


									<%= link_to "Logout", destroy_company_session_path, method: :delete, class: "button" %>


								</div>
				
			</div>
		
