        <div class="user-container">

				<div class="career-pin-conatiner-user">
				
				<div class="container-fluid brand-ambasadors">
           
					 <ul class="career-pin-admin">
						<li>
							Your employess posts
						</li>
					</ul>
            <% @friends.each do |friend| %>
            <div class="box">
                <%= link_to twitter_show_path(:name => friend.screen_name) do %>
                 <div class="profile-image">
                   <!-- Getting normal image from twitter -->
                   <% a = "#{friend.profile_image_url_https}"  %>
                   <% a.slice!("_normal") %>
                   <%= image_tag(a) %>
                 </div>
                 <div class="profile-name">
                   <span class="text-center"><%= friend.name %></span>
                 </div>      
                <% end %>
          </div>
          <% end %>
				</div><!-- /.career-pin-conatiner -->
				</div>
<div class="worker-options">

          <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum nostrum eos quo totam quibusdam, optio vitae dolor nihil vel perferendis consequatur commodi, accusamus, enim aperiam odit soluta corporis! Culpa, nostrum.</h2>

          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio officia, perspiciatis est suscipit libero ipsa ut dicta fugiat cupiditate, iste veniam distinctio, dolorum deserunt rem illo non at laudantium quam.</p>

          <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum nostrum eos quo totam quibusdam, optio vitae dolor nihil vel perferendis consequatur commodi, accusamus, enim aperiam odit soluta corporis! Culpa, nostrum.</h2>

          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio officia, perspiciatis est suscipit libero ipsa ut dicta fugiat cupiditate, iste veniam distinctio, dolorum deserunt rem illo non at laudantium quam.</p>
          
          </div>