<div class="user-container">

			<div class="career-pin-conatiner-user">
				<ul class="career-pin-preview">
					<li>Your employees posts</li>
					
					<li class="facebook-list">
						<div class="cp-2">
							<a target="blank" href="www.facebook.com/50063176484_10153381528596485">
								<div class="cp-image">

								</div>
								<div class="cp-social">
									<i class="fa fa-facebook"></i>
								</div>
								<div class="cp-button preview">
									<button class="submit"><i class="fa fa-plus"></i></button>
								</div>
								<div class="cp-allweys">
									<div class="cp-author-image">
										<%= image_tag("worker_login.jpg", alt: "Author image") %>
									</div>
									<div class="cp-text">
										<p>
											Michał Żak i Michał Kelles-Krauz swoją przygodę z prowadzeniem własnej Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium fugit tenetur aut...
										</p>
										<div class="cp-data">
											<span class="cp-autor">Cris Cris</span>
											<time>15 days ago</time>
										</div>
									</div>
								</div>
							</a>
						</div>
					</li>
					
					<li>
						<div class="cp-2">
							<a target="blank" href="www.facebook.com/50063176484_10153381528596485">
								<div class="cp-image">
									<%= image_tag("worker_login.jpg", alt: "Author image", class: "myBackgroundImage") %>
								</div>
								<div class="cp-social">
									<i class="fa fa-twitter"></i>
								</div>
								<div class="cp-button preview">
									<button class="submit"><i class="fa fa-plus"></i></button>
								</div>
								<div class="cp-allweys">
									<div class="cp-author-image">
										<img src="assets/images/worker_login.jpg" alt="Author image">
									</div>
									<div class="cp-text">
										<p>
											Michał Żak i Michał Kelles-Krauz swoją przygodę z prowadzeniem własnej Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium fugit tenetur aut...
										</p>
										<div class="cp-data">
											<span class="cp-autor">Cris Cris</span>
											<time>15 days ago</time>
										</div>
									</div>
								</div>
							</a>
						</div>
					</li>
					
					<li>
						<div class="cp-2">
							<a target="blank" href="www.facebook.com/50063176484_10153381528596485">
								<div class="cp-image">
									<img class="myBackgroundImage" src="assets/images/placeholder8-web.jpg" alt="">
								</div>
								<div class="cp-social">
									<i class="fa fa-facebook"></i>
								</div>
								<div class="cp-button preview">
									<button class="submit"><i class="fa fa-plus"></i></button>
								</div>
								<div class="cp-allweys">
									<div class="cp-author-image">
										<img src="assets/images/worker_login.jpg" alt="Author image">
									</div>
									<div class="cp-text">
										<p>
											Michał Żak i Michał Kelles-Krauz swoją przygodę z prowadzeniem własnej Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium fugit tenetur aut...
										</p>
										<div class="cp-data">
											<span class="cp-autor">Cris Cris</span>
											<time>15 days ago</time>
										</div>
									</div>
								</div>
							</a>
						</div>
					</li>
					
					<li class="twitter-list">
						<div class="cp-2">
							<a target="blank" href="www.facebook.com/50063176484_10153381528596485">
								<div class="cp-image">

								</div>
								<div class="cp-social">
									<i class="fa fa-twitter"></i>
								</div>
								<div class="cp-button preview">
									<button class="submit"><i class="fa fa-plus"></i></button>
								</div>
								<div class="cp-allweys">
									<div class="cp-author-image">
										<img src="assets/images/worker_login.jpg" alt="Author image">
									</div>
									<div class="cp-text">
										<p>
											Michał Żak i Michał Kelles-Krauz swoją przygodę z prowadzeniem własnej Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium fugit tenetur aut...
										</p>
										<div class="cp-data">
											<span class="cp-autor">Cris Cris</span>
											<time>15 days ago</time>
										</div>
									</div>
								</div>
							</a>
						</div>
					</li>
				</ul>
			</div><!-- /.career-pin-conatiner -->

				<div class="admin-options">
					<div class="admin-stats">
					
					<h2>Lorem ipsum dolores sit amet</h2>

					<div class="stats">

						<div class="stat-box">
							<h3>Visited</h3>
							<p>1784</p>
						</div>

						<div class="stat-box">
							<h3>Interactions</h3>
							<p>1242</p>
						</div>
						
						<div class="stat-box alt">
							<h3>iframe</h3>
							<p>&lt;iframe width="560" height="315" src="https://www.youtube.com/embed/N0Ix8XlQkTY" frameborder="0" allowfullscreen&gt;&lt;/iframe&gt;</p>
						</div>
						
						<div class="stat-box alt">
							<h3>Employee link</h3>
							<p>http://career-pin.com/company</p>
						</div>
						
						<button class="button">Preview</button>

					</div>
					
					
					
					</div>
				</div><!-- /.admin-options -->
		</div><!-- /.user-container -->